/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  /* background-color: #fdf2e9; */
  height: 100svh;
  padding: 8rem 0 9.6rem 0;
  background-image: url("../imgs/pexels-jpg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  /* background-color: aquamarine; */
}

.hero-text-box {
  grid-column: 2;
  /* background-color: orangered; */
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.hero-text-box h1 {
  display: inline-block;
  margin-left: auto;
}

.hero-description {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  margin-left: auto;
}

/**************************/
/* ABOUT SECTION */
/**************************/
.section-about {
  background: linear-gradient(
      184deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 20%,
      rgba(125, 8, 207, 0.7490456321022727) 55%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 100%
    ),
    #000;
  color: #fff;
  padding: 9.6rem 0;
}

.about-text-box .heading-secondary {
  color: #fff;
}

.about-description {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
