/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  height: 100svh;
  padding: 8rem 0 9.6rem 0;
  background-image: url("../imgs/pexels-jpg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 0;
  /* background-color: aquamarine; */
}

.hero-text-box {
  grid-column: 2;
  /* background-color: orangered; */
  display: flex;
  flex-direction: column;
}

.hero-text-box .heading-kicker {
  margin-left: auto;
  background-color: #000;
  padding: 0 0.2rem;
  border-radius: 3px;
}

.hero-text-box .heading-tertiary {
  margin-left: auto;
}

.hero-text-box .heading-primary {
  display: inline-block;
  color: #fffa8c;
  background-color: #000;
  padding: 1.2rem 0.4rem;
  margin-left: auto;
  border-radius: 4px;
}

.hero-description {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.h-btn {
  grid-column: 2;
  margin-left: auto;
}

/**************************/
/* ABOUT SECTION */
/**************************/
.section-about {
  background: linear-gradient(
      184deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 20%,
      rgba(255, 250, 140, 0.45) 55%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 100%
    ),
    #000;
  color: #fff;
  padding: 9.6rem 0;
}

.about {
  row-gap: 0;
}

.a_kicker {
  grid-column: 1 / -1;
}

.a_secondary {
  grid-column: 1 / -1;
  color: #fff978;
}

.about-box {
  grid-column: 1/ -1;
  display: flex;
  background-color: rgba(20, 20, 20, 0.50);
  border-radius: 18px;
  padding: 2.8rem 2.4rem;
  gap: 1.8rem;

  overflow: hidden;
}

.about-text-box {
  align-self: center;
}

.about-description {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.about-contact-box {
  display: flex;
  gap: 1.8rem;
}

.about-contact-icons {
  display: flex;
  gap: 1.8rem;
  padding: 1.2rem;
  border-radius: 18px;
  /* border: 2px solid #fffeee; */

  z-index: 2;
}

.about-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  /* overflow: hidden; */
}

.about-img-box::before,
.about-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
}

.about-img-box::before {
  top: 0%;
  right: 0%;
  transform: translate(0%, -15%);
  width: 25rem;
  height: 25rem;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.about-img-box::after {
  bottom: 0%;
  left: 0%;
  transform: translate(-15%, 15%);
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 249, 140, 0.65);
  z-index: 1;
}

.about-img {
  width: 75%;
  transform: scaleX(-1);
  border-radius: 200px;
  box-shadow: 0 1.2rem 1.8rem rgba(0, 0, 0, 0.25);
  z-index: 5;
}