/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 7.4rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 5.2rem;
  }

  .heading-tertiary {
    font-size: 3.6rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .section-hero {
    height: 100svh;
    padding: 6.4rem 0 4.8rem 0;
  }

  .hero {
    margin-top: 12.8rem;
  }

  /* MOBILE NAVIGATION (if we have it) */
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .heading-secondary {
    margin-bottom: 2.4rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .about-box {
    gap: 6.4rem;
    flex-direction: column-reverse;
  }

  .contact-box {
    justify-content: center;
    align-items: center;
  }

  .about-img {
    width: 65%;
  }

  .about-description {
    font-size: 1.8rem;
    margin-bottom: 4.8rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 3.2rem;
  }

  .project:nth-child(1) {
    grid-row: 5;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
}

/**************************/
/* Fixin Safari Flexbox Gap */
/**************************/

/* gap 4.8 on .main-nav-list */
/* Apply on all, except the last child */
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
