/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1.2rem;

  /* auto transition using max-width */
  transition: all 0.3s;
  width: auto;
  max-width: 8rem;

  /* Border */
  background-color: #333;
  border: 3px solid #fffa8c;
  border-radius: 12px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  /* Position it absolutely in the top left corner */
  position: fixed;
  padding: 1.8rem;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
}

.main-nav-list.active {
  max-width: 250rem;
}

.main-nav-link {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-decoration: none;
  flex-basis: 300px;

  border-radius: 8px;
  padding: 0.4rem;
}

.main-nav-list.active .main-nav-link {
  grid-template-columns: 1fr 3fr;
  gap: 1.8rem;
}

.nav-link-icon {
  height: 3.2rem;
  width: 3.2rem;
  flex-shrink: 0;
  color: #fffeee;
  transition: all 0.2s;
}

.nav-link-text {
  /* display: none; */
  display: inline-block;
  color: #fffeee;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
  opacity: 0;

  /* Render it absolute */
  /* Note: Maybe a better way to do this.. */
  position: absolute;
  top: -500px;
  left: -500px;
}

.main-nav-list.active .nav-link-text {
  /* On active, render it static */
  position: static;
  opacity: 1;
  padding-right: 0.8rem;
  margin-left: auto;
  /* justify-self: right; */
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #333;
}

.main-nav-link:hover,
.main-nav-link:active,
.nav-social-btn:hover,
.nav-social-btn:active {
  color: #cf711f;
  box-shadow: 0 0 0 0.2rem #fffeee;
}

/* Text + Icons */
.main-nav-link:hover .nav-link-icon,
.main-nav-link:active .nav-link-icon,
.main-nav-link:hover .nav-link-text,
.main-nav-link:active .nav-link-text {
  color: #fffa8c;
}

/* Social Icons */
.nav-social-btn:hover .nav-link-icon,
.nav-social-btn:active .nav-link-icon,
.nav-social-btn:hover .social-icon {
  color: #fffa8c;
}

.nav-socials {
  display: flex;
  align-items: center;
}

.main-nav-social {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.3s ease-in-out;
  margin-left: 1.2rem;
  justify-content: space-between;

  opacity: 0;
  visibility: hidden;
}

.main-nav-list.active .main-nav-social {
  opacity: 1;
  visibility: visible;
}

.nav-social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0.2rem;
}

.main-nav-social {
  display: flex;
  align-items: center;
}

.social-icon {
  height: 2.8rem;
  width: 2.8rem;
  color: #fffeee;

  transition: all 0.3s;
}